<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<body>
<div layout:fragment="content" class="col-md-5">
    <form th:action="@{/products/create}" th:object="${product}" method="post" enctype="multipart/form-data">

        <div class="mb-2">
            <label class="form-label text-muted mb-0">Name</label>
            <input type="text" th:field="*{name}" class="form-control" placeholder="product Name">
            <div class="alert alert-warning py-1 mt-1 border-0"
                 th:if="${#fields.hasErrors('name')}" th:errors="*{name}"
                 style="background-color: #fff3cd; color: #856404;">
            </div>
        </div>

        <div class="mb-2">
            <label class="form-label text-muted mb-0">Price:</label>
            <input type="number" th:field="*{price}" class="form-control">
            <div class="alert alert-warning py-1 mt-1 border-0"
                 th:if="${#fields.hasErrors('price')}" th:errors="*{price}"
                 style="background-color: #fff3cd; color: #856404;">
            </div>
        </div>

        <div class="mb-2">
            <label class="form-label text-muted mb-0">Image:</label>
            <input type="file" name="imageFile" class="form-control">
        </div>

        <div class="mb-3">
            <label class="form-label text-muted mb-0">Category:</label>
            <select th:field="*{categoryName}" class="form-select w-50">
                <option value="Điện thoại">Điện thoại</option>
                <option value="Laptop">Laptop</option>
            </select>
        </div>

        <button type="submit" class="btn btn-success px-3">Add Product</button>
    </form>
</div>
</body>
</html>